
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>W3SCHOOL AngularJS Module Test 1</title>
    <script src="../Scripts/angular.min.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>

</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>
    <br />
    <div ng-init="myCol='lightblue'">
        <input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
    </div>
    <div ng-init="quantity=1;cost=5">
        <p>Total in dollar: {{ quantity * cost }}</p>
    </div>
    <div ng-init="quantity=1;cost=5">
        <p>Total in dollar: <span ng-bind="quantity * cost"></span></p>
    </div>
    <div ng-app="" ng-init="firstName='Biswajit';lastName='Bose'">

        <p>The name is {{ firstName + " " + lastName }}</p>

    </div>
    <div ng-init="points=[1,15,99,2,40]">
        <p>The third result is {{ points[2] }}</p>
    </div>
</body>
</html>
