
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>W3SCHOOL New Directive</title>
    <script src="../Scripts/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "John Doe";
        });
    </script>

</head>
<body ng-app="myApp">
    <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>
    <div ng-app="" ng-init="names=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}]">
        <ul>
            <li ng-repeat="x	in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
    </div>
    <div ng-controller="myCtrl">
        Name: <input ng-model="name">
        <div>{{name}}</div>
    </div>
    <p ng-controller="myCtrl">{{name}}</p>
    <p>Use the ng-model directive to bind the value of the input field to a property made in the controller.</p>
    <form name="myForm">
        Email:
        <input type="email" name="myAddress" ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
    </form>

    <p>Enter your e-mail address in the input field. AngularJS will display an errormessage if the address is not an e-mail.</p>
</body>


</html>
